.modal-background-overlay {
    background: url('/images/Home.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
